/* Font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/* shared styles  */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.text-light-gray-desciption {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles  */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
    padding-left: 0;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles  */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 40px;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team styles  */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-title {
    font-size: 2.8rem;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* responsive media quaries  */

/* mobile devices */
@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav, .team-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding-right: 25px;
        padding-left: 25px;
    }

}

/* tablet or medium devices  */

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    header {
        padding: 50px;
    }

    nav, .team-container {
        flex-direction: column;
    }

    .team-content {
        padding-right: 80px;
        padding-left: 80px;
    }

}