/* Font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/* shared styles  */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
}

/* header styles  */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    padding-left: 0;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles  */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}